<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="Lint" content="Lint, um aplicativo de localização interna">
    <title>Lint</title>
    <link rel="stylesheet" href="static/inicioo/inicio.css">
<link rel="icon" type="image/png" sizes="32x32" href="../inicio/imagens/">
</head>
<body>
    
    <header>
        <div class="logo"><h1>LINT</h1></div>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:5000/login">Login</a></li>
                <li><a href="http://127.0.0.1:5000/destino">Definir Destino</a></li>
            </ul>
        </nav>
    
    </header>


<main align="center">
    <div class="container">

        <h3 style="font-size: 25px;">Entrada Principal</h3>
        <a href="../terreo/terreo.html" class="entrada">
            <div class="predio1">
            <h3 class="text_pred" style="color: black;"></h3>
            </div>
        </a>

        <a href="../pag_login/login.html">
            <div class="login"></div>
        </a>

       
    </div>

</main>

</body>
</html>