<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lint</title>
    <link rel="stylesheet" href="static/andar-1 css/andar-1.css">
</head>

<body>
    
    <header>
        <div class="logo"><h1>LINT</h1></div>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:5000/">Início</a></li>
                <li><a href="http://127.0.0.1:5000/destino">Definir Destino</a></li>
            
            </ul>
        </nav>
    
    </header>

    <!-- Container principal do mapa -->
    <div class="mapa">
        <!-- Ambientes -->
        <div class="ambiente coord"><p>Coord. Lab.</p></div>
        <div class="ambiente lab-info">Lab. Info</div>
        <div class="ambiente lab-ltd">Lab. LTD</div>
        <div class="ambiente">
        <div class="ambiente biblioteca"><p>Biblioteca</p></div>
        <div class="ambiente suporte-ti"><p>Suporte T.I</p></div>
        <div class="ambiente naap"><p>NAAP</p></div>
        <div class="escada escada-bib"></div>
        <div class="escada escada-lab-info"></div>
        <div class="escada escada-corredor-1"></div>
        <div class="escada escada-corredor-2"></div>
        <div class="elevador elevador-1"></div>
        <div class="elevador elevador-2"></div>
        </div>

        <!-- Corredores -->
        
        
        <div class="corredor corredor-vertical-naap-1"></div>
        <div class="corredor corredor-vertical-naap-2"></div>
        <div class="corredor corredor-vertical-naap-3"></div>
        <div class="corredor corredor-vertical-naap-4"></div>
        <div class="corredor corredor-vertical-naap-5"></div>
        <div class="corredor corredor-vertical-naap-6"></div>
        <div class="corredor corredor-vertical-secundario-1"></div>
        <div class="corredor corredor-vertical-secundario-2"></div>
        <div class="corredor corredor-vertical-secundario-3"></div>
        
        
        <div class="corredor corredor-horizontal-inf-1"></div>
        <div class="corredor corredor-horizontal-inf-2"></div>

        <div class="corredor corredor-horizontal-sup-1"></div>
        <div class="corredor corredor-horizontal-sup-2"></div>
        <div class="corredor corredor-horizontal-sup-3"></div>
        <div class="corredor corredor-horizontal-sup-4"></div>
        <div class="corredor corredor-horizontal-lab-info"></div>
        
    
        <div class="corredor corredor-diagonal-1"></div>
        <div class="corredor corredor-diagonal-2"></div>

        <div class="corredor intersecao-corredor-vertical-naap-1"></div>
        <div class="corredor intersecao-corredor-vertical-naap-2"></div>
        <div class="corredor intersecao-corredor-vertical-naap-elev-3"></div>
        <div class="corredor intersecao-corredor-vertical-lab-info-4"></div>
        <div class="corredor intersecao-corredor-vertical-lab-info-5"></div>
        <div class="corredor intersecao-corredor-horizontal-2"></div>

        <div class="corredor intersecao-corredor-diagonal-sup-1"></div>
        <div class="corredor intersecao-corredor-diagonal-sup-2"></div>
        <div class="corredor intersecao-corredor-diagonal-inf-1"></div>
        <div class="corredor intersecao-corredor-diagonal-inf-2"></div>

       <!-- <div class="button botao-1"><button onclick="window.location.href='file:/C:/Users/raels/OneDrive/%C3%81rea%20de%20Trabalho/App_Estacio/Projeto_lint/andar-2/andar-2.html';">Próximo andar</button></div> -->
        
       <!-- <div class="button botao-2"><button onclick="window.location.href='file:/C:/Users/raels/OneDrive/%C3%81rea%20de%20Trabalho/App_Estacio/Projeto_lint/terreo/terreo.html';">Andar anterior</button></div> -->
        
       <a href="http://127.0.0.1:5000/terreo" class="botao-1">Andar anterior</a>

       <a href="http://127.0.0.1:5000/segundo-andar" class="botao-2">Próximo andar</a>


        
    </div>
</body>
</html>
