<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lint</title>
    <link rel="stylesheet" href="static/andar-2 css/andar-2.css">
</head>

<body>
    
    <header>
        <div class="logo"><h1>LINT</h1></div>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:5000/">Início</a></li>
                <li><a href="http://127.0.0.1:5000/destino">Definir Destino</a></li>
            
            </ul>
        </nav>
    
    </header>

    <!-- Container principal do mapa -->
    <div class="mapa">
        <!-- Ambientes -->
        <div class="ambiente auditorio-1"><p>Auditório I</p></div>
        <div class="ambiente auditorio-2"><p>Auditório II</p></div>
        <div class="ambiente cempre">Cempre</div>
        <div class="ambiente serval">Serval</div>
        <div class="ambiente"><div>
       
        <div class="ambiente cpa"><p>CPA</p></div>
        <div class="escada escada-auditorio-1"></div>
        <div class="escada escada-cpa"></div>
        <div class="escada escada-corredor-1"></div>
        <div class="escada escada-corredor-2"></div>
        <div class="elevador elevador-1"></div>
        <div class="elevador elevador-2"></div>
        </div>

        <!-- Corredores -->
        
        
        <div class="corredor corredor-vertical-cpa-1"></div>
        <div class="corredor corredor-vertical-cpa-2"></div>
        <div class="corredor corredor-vertical-cpa-3"></div>
        <div class="corredor corredor-vertical-cpa-4"></div>
        <div class="corredor corredor-vertical-cpa-5"></div>
        <div class="corredor corredor-vertical-cpa-6"></div>
        <div class="corredor corredor-vertical-secundario-1"></div>
        <div class="corredor corredor-vertical-secundario-2"></div>
        <div class="corredor corredor-vertical-secundario-3"></div>
        
        <div class="corredor corredor-horizontal-inf-1"></div>
        <div class="corredor corredor-horizontal-inf-2"></div>

        <div class="corredor corredor-horizontal-sup-1"></div>
        <div class="corredor corredor-horizontal-sup-2"></div>
        <div class="corredor corredor-horizontal-sup-3"></div>
        <div class="corredor corredor-horizontal-sup-4"></div>
        <div class="corredor corredor-horizontal-auditorio-1"></div>
        <div class="marcar"></div>
        <div class="corredor corredor-diagonal-1"></div>
        <div class="corredor corredor-diagonal-2"></div>

        <div class="corredor intersecao-corredor-vertical-cpa-1"></div>
        <div class="corredor intersecao-corredor-vertical-cpa-2"></div>
        <div class="corredor intersecao-corredor-vertical-cpa-elev-3"></div>
        <div class="corredor intersecao-corredor-vertical-auditorio-4"></div>
        <div class="corredor intersecao-corredor-vertical-auditorio-5"></div>
        <div class="corredor intersecao-corredor-horizontal-2"></div>

        <div class="corredor intersecao-corredor-diagonal-sup-1"></div>
        <div class="corredor intersecao-corredor-diagonal-sup-2"></div>
        <div class="corredor intersecao-corredor-diagonal-inf-1"></div>
        <div class="corredor intersecao-corredor-diagonal-inf-2"></div>


       <!-- <div class="button botao-1"><button onclick="window.location.href='file:/C:/Users/raels/OneDrive/%C3%81rea%20de%20Trabalho/App_Estacio/Projeto_lint/andar-3/andar_3.html';">Próximo andar</button></div>
        
        <div class="button botao-2"><button onclick="window.location.href='file:/C:/Users/raels/OneDrive/%C3%81rea%20de%20Trabalho/App_Estacio/Projeto_lint/andar-1/andar_1.html';">Andar anterior</button></div> -->
        
        <a href="http://127.0.0.1:5000/primeiro-andar" class="botao-1">Andar anterior</a>

        <a href="http://127.0.0.1:5000/terceiro-andar" class="botao-2">Próximo andar</a>

        
    </div>

</body>
</html>